<p id="notice"><%= notice %></p>

<h1>Bmwx6s</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bmwx6s.each do |bmwx6| %>
      <tr>
        <td><%= bmwx6.make %></td>
        <td><%= bmwx6.model %></td>
        <td><%= bmwx6.year %></td>
        <td><%= link_to 'Show', bmwx6 %></td>
        <td><%= link_to 'Edit', edit_bmwx6_path(bmwx6) %></td>
        <td><%= link_to 'Destroy', bmwx6, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bmwx6', new_bmwx6_path %>
