<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @bmwx6.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @bmwx6.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @bmwx6.year %>
</p>

<%= link_to 'Edit', edit_bmwx6_path(@bmwx6) %> |
<%= link_to 'Back', bmwx6s_path %>
