<p id="notice"><%= notice %></p>

<p>
  <strong>X6:</strong>
  <%= @bmw.X6 %>
</p>

<p>
  <strong>Make:</strong>
  <%= @bmw.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @bmw.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @bmw.year %>
</p>

<%= link_to 'Edit', edit_bmw_path(@bmw) %> |
<%= link_to 'Back', bmws_path %>
